.olHandlerBoxZoomBox {
  position:absolute;
  background:url(../images/mask25.png);
  font-size:1px;
  border:0px;
  opacity:1;
  filter:none;
  }

.olImageLoadError { display:none; }

.olControlZoomPanel {
  left:10px !important;
  top:10px !important;
  }

.wax-legend,
.wax-tooltip {
  font:normal 13px/20px Arial,sans-serif;
  color:#fff;
  min-width:180px;
  max-width:280px;
  padding:10px 15px;
  background:transparent url(../images/mask75.png) repeat;
  text-shadow:#000 0px 1px 1px;
  box-shadow:rgba(0,0,0,0.25) 0px 0px 10px;
  -moz-box-shadow:rgba(0,0,0,0.25) 0px 0px 10px;
  -webkit-box-shadow:rgba(0,0,0,0.25) 0px 0px 10px;
  }

.wax-legends,
.wax-tooltip {
  position:absolute;
  right:10px;
  z-index:999999;
  }

.wax-tooltip { top:10px; }
.wax-legends { bottom:10px; }

.wax-tooltip .close {
  display:block;
  position:absolute;
  top:5px;
  right:5px;
  width:20px;
  height:20px;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/controls.png) 0px 0px no-repeat;
  }

