body {
  background:#888 url(../images/bg.png);
  color:#ccc;
  font:15px/20px Arial,Helvetica,sans-serif;
  }

a {
  color:#fff;
  text-decoration:none;
  }

.pane { padding:10px; }

.header,
.overlay .title,
.thumb .thumb-name,
.wax-tooltip,
.wax-legends {
  background:url(../images/mask75.png);
  text-shadow:#000 0px 1px 1px;
  }

.hud,
.header,
.wax-tooltip,
.wax-legends {
  box-shadow:rgba(0,0,0,0.25) 0px 0px 10px;
  -moz-box-shadow:rgba(0,0,0,0.25) 0px 0px 10px;
  -webkit-box-shadow:rgba(0,0,0,0.25) 0px 0px 10px;
  }

/**
 * Icons ======================================================================
 */
.wax-tooltip .close,
.icon {
  display:block;
  width:20px;
  height:20px;
  background:url(../images/sprite.png) 20px 20px no-repeat;
  text-indent:-9999px;
  overflow:hidden;
  }

.icon.right         { background-position:0px 0px; }
.icon.info          { background-position:-20px 0px; }
.icon.download      { background-position:-40px 0px; }
.wax-tooltip .close { background-position:-60px 0px; }

/**
 * Header =====================================================================
 */
.header {
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  height:20px;
  padding:10px;

  opacity:1;
  z-index:80;
  transition:opacity .25s, z-index .25s;
  -moz-transition:opacity .25s, z-index .25s;
  -webkit-transition:opacity .25s, z-index .25s;
  }

.header .breadcrumb a,
.header .breadcrumb span { float:left; }

.header .breadcrumb {
  padding-left:140px;
  position:relative;
  }

.header .breadcrumb .logo {
  position:absolute;
  display:block;
  width:140px;
  height:30px;
  left:0px;
  top:-5px;
  overflow:hidden;
  text-indent:-9999px;
  background:url(../images/sprite.png) -100px -20px no-repeat;
  }

.header .buttons {
  font-size:11px;
  font-weight:bold;
  text-transform:uppercase;

  position:absolute;
  right:10px;
  top:10px;
  background:url(../images/mask25.png);
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

.header .buttons a {
  float:left;
  color:#999;
  padding:0px 15px 0px 10px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

.header .buttons .icon { float:left; }

/**
 * Maps =======================================================================
 */
.maps {}
.maps li {
  width:250px;
  height:250px;
  float:left;
  position:relative;
  }

.maps a,
.maps span { display:block; }

.thumb {
  width:249px;
  height:249px;
  font-weight:bold;
  display:block;
  background:#888 url(../images/canvas.png);
  position:relative;
  }

.thumb .thumb-name {
  opacity:0;
  position:absolute;
  left:0px;
  bottom:0px;
  right:0px;
  padding:10px 20px;
  min-height:20px;
  }

.thumb:hover .thumb-name {
  opacity:1;
  -moz-transition:opacity .25s;
  -webkit-transition:opacity .25s;
  }

.thumb .thumb-layer {
  position:absolute;
  left:0px;
  top:0px;
  bottom:0px;
  right:0px;
  background-position:50% 50%;
  background-repeat:no-repeat;
  }

/**
 * Map ========================================================================
 */
.MapClient {
  background:#888 url(../images/canvas.png);
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  height:100%;
  width:100%;
  z-index:0;
  }

.wax-tooltip {
  top:60px;
  left:0px;
  padding:10px 20px;
  max-width:260px;
  }

.wax-popup { padding-right:40px; }

.wax-popup .close {
  top:10px;
  right:10px;
  }

.wax-legends {
  padding:0px;
  max-width:300px;
  }

.wax-legend {
  padding:10px 20px;
  background:url(../images/stroke.png) 0% 0% repeat-x;
  }

.wax-legend:first-child { background:transparent; }

.zooms {
  background:url(../images/mask25.png);
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

.zooms .zoom {
  float:left;
  width:20px;
  text-align:center;
  font-size:11px;
  font-weight:bold;
  color:#999;
  }

input[type=submit]:active,
input[type=button]:active,
.wax-popup .close,
.header .buttons .active,
.zooms .active {
  color:#fff;
  background-color:#666;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  box-shadow:#666 0px 0px 10px;
  -moz-box-shadow:#666 0px 0px 10px;
  -webkit-box-shadow:#666 0px 0px 10px;
  }

.hud.active,
.hud {
  right:0px;
  top:60px;
  bottom:20px;
  width:280px;
  position:fixed;
  background:url(../images/hud.png) 0% 100% repeat-x;
  text-shadow:#000 0px 1px 1px;
  opacity:0;
  z-index:-1;
  transition:opacity .5s, z-index .5s;
  -moz-transition:opacity .5s, z-index .5s;
  -webkit-transition:opacity .5s, z-index .5s;
  }

.hud.active {
  opacity:1;
  z-index:80;
  }

.hud li {
  padding:10px 20px;
  background:url(../images/stroke.png) 0% 100% repeat-x;
  }

.hud .column {
  float:left;
  width:49.9%;
  }

.hud label {
  display:block;
  font-size:11px;
  text-transform:uppercase;
  font-weight:bold;
  }

.hud h1 {
  font-size:20px;
  letter-spacing:-1px;
  }

.hud h2 {
  margin:1em 0 0.5em;
  }

.hud h1,
.hud .description { margin:10px 0px; }

.hud h1,
.hud label { color:#fff; }

.olImageLoadError {
  display:none;
  }

.olMap .olHandlerBoxZoomBox {
  position:absolute;
  background:url(../images/mask25.png);
  font-size:1px;
  border:0px;
  opacity:1;
  filter:alpha(opacity=100);
  }

/**
 * Download link ==============================================================
 */
a.download {
  display:block;
  background:url(../images/mask25.png);
  padding:10px;
  margin:0px -10px;
  word-break:break-all;
  text-align:center;
  }

a.download * { display:block; }

a.download .icon {
  margin:0px auto;
  width:100px;
  height:100px;
  background:url(../images/sprite.png) 0px -20px no-repeat;
  }

a.download .file { font-weight:bold; }
a.download .size { color:#999; }

/**
 * Form elements ==============================================================
 */
select,
input[type=text],
input[type=password] {
  line-height:20px;
  height:20px;
  width:100%;
  padding:0px 5px;

  color:#fff;
  background:url(../images/mask25.png);

  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  }

input[type=submit],
input[type=button] {
  font-size:11px;
  font-weight:bold;
  text-transform:uppercase;
  text-shadow:#000 0px 1px 1px;

  padding:0px 10px;
  background:#444;
  color:#eee;

  cursor:pointer;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  }

form select,
form input { margin:0px 0px 10px; }

  label.inline {
    display:inline;
    padding:0 5px;
    }

  div.edit input[type='text'] {
    border:1px solid #aaa;
    }

  div.size input[type='text'] {
    width:50px;
    text-align:center;
    }

/**
 * ErrorView ==================================================================
 */
.error {
  background:url(../images/bg.png);
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  }

.error .message {
  position:absolute
  left:0px;
  top:0px;
  width:249px;
  height:249px;
  line-height:249px;

  white-space:nowrap;
  overflow:hidden;
  text-align:center;

  color:#333;
  font-size:20px;
  font-weight:bold;
  text-shadow:#ccc 0px 1px;
  background:url(../images/mask25.png);
  }

