body {
  background:#444 url(../images/bg.png) 50% 0%;
  color:#ccc;
  font:15px/20px Arial,Helvetica,sans-serif;
  }

a {
  color:#fff;
  text-decoration:none;
  }

.pane { padding:10px; }

.header,
.overlay .title,
.thumb .thumb-name {
  background:url(../images/mask75.png);
  text-shadow:#000 0px 1px 1px;
  }

.hud,
.header {
  box-shadow:rgba(0,0,0,0.25) 0px 0px 10px;
  -moz-box-shadow:rgba(0,0,0,0.25) 0px 0px 10px;
  -webkit-box-shadow:rgba(0,0,0,0.25) 0px 0px 10px;
  }

/**
 * Icons ======================================================================
 */
.icon {
  display:block;
  width:20px;
  height:20px;
  background:url(../images/sprite.png) 20px 20px no-repeat;
  text-indent:-9999px;
  overflow:hidden;
  }

.icon.right         { background-position:0px 0px; }
.icon.info          { background-position:-20px 0px; }
.icon.download      { background-position:-40px 0px; }
.icon.tilestream    { background-position:-380px -340px; }

/**
 * Header =====================================================================
 */
.header {
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  height:20px;
  padding:10px;

  opacity:1;
  filter:none;
  z-index:80;
  transition:opacity .25s, z-index .25s;
  -moz-transition:opacity .25s, z-index .25s;
  -webkit-transition:opacity .25s, z-index .25s;
  }

.header .breadcrumb a,
.header .breadcrumb span { float:left; }

.header .breadcrumb {
  position:absolute;
  left:0px;
  top:10px;
  }

.header .breadcrumb .logo {
  margin:-10px 10px 0px 0px;
  padding:10px 25px 10px 15px;
  font-size:11px;
  text-transform:uppercase;
  background:url(../images/sprite.png) 100% -360px no-repeat;
  }

.header .breadcrumb .logo .icon { margin-right:5px; }

.header .buttons {
  font-size:11px;
  font-weight:bold;
  text-transform:uppercase;

  position:absolute;
  right:10px;
  top:10px;
  background:url(../images/mask25.png);
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

.header .buttons a {
  float:left;
  color:#999;
  padding:0px 15px 0px 10px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

.header .buttons .icon { float:left; }

/**
 * Maps =======================================================================
 */
.maps {
  /* Fixes a variety of spacing problems when using `inline-block` */
  font:0px/0px Arial,Helvetica,sans-serif;
  padding:60px 0px 0px;
  text-align:center;
  }

.maps > span {
  font:15px/20px Arial,Helvetica,sans-serif;
  display:inline-block;
  text-align:left;
  width:240px;
  height:240px;
  margin:0px 10px 20px;
  position:relative;
  overflow:hidden;
  box-shadow:#222 0px 1px 10px;
  -moz-box-shadow:#222 0px 1px 10px;
  -webkit-box-shadow:#222 0px 1px 10px;
  }

.maps .empty {
  background:#4c4c4c url(../images/bg.png);
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  }

.maps .empty span {
  position:absolute;
  top:110px;
  left:0px;
  width:240px;
  font-size:20px;
  text-align:center;
  white-space:nowrap;
  }

.maps span a,
.maps span span { display:block; }

.thumb {
  width:240px;
  height:240px;
  font-weight:bold;
  display:block;
  background:#ddd url(../images/bg.png);
  position:relative;
  }

.thumb .thumb-name {
  opacity:0;
  filter:alpha(opacity=0);
  position:absolute;
  left:0px;
  bottom:0px;
  right:0px;
  padding:10px 20px;
  min-height:20px;
  overflow:hidden;
  }

.thumb:hover .thumb-name {
  opacity:1;
  filter:none;
  -moz-transition:opacity .25s;
  -webkit-transition:opacity .25s;
  }

.thumb .thumb-layer {
  position:absolute;
  left:0px;
  top:0px;
  bottom:0px;
  right:0px;
  background-position:50% 50%;
  background-repeat:no-repeat;
  }

/**
 * Map ========================================================================
 */
.MapClient {
  background:#ddd url(../images/bg.png);
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  height:100%;
  width:100%;
  z-index:0;
  }

.zooms {
  background:url(../images/mask25.png);
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

.zooms .zoom {
  float:left;
  width:20px;
  text-align:center;
  font-size:11px;
  font-weight:bold;
  color:#999;
  }

input[type=submit]:active,
input[type=button]:active,
.header .buttons .active,
.zooms .active {
  color:#fff;
  background-color:#666;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  box-shadow:#666 0px 0px 10px;
  -moz-box-shadow:#666 0px 0px 10px;
  -webkit-box-shadow:#666 0px 0px 10px;
  }

.hud.active,
.hud {
  right:-280px;
  top:60px;
  bottom:20px;
  width:280px;
  position:fixed;
  background:url(../images/hud.png) 0% 100% repeat-x;
  text-shadow:#000 0px 1px 1px;
  z-index:-1;
  transition:right .25s, z-index .5s;
  -moz-transition:right .25s, z-index .5s;
  -webkit-transition:right .25s, z-index .5s;
  }

.hud.active {
  right:0px;
  z-index:80;
  }

.hud li {
  padding:10px 20px;
  background:url(../images/stroke.png) 0% 100% repeat-x;
  }

.hud .column {
  float:left;
  width:49.9%;
  }

form label,
form span.label,
.hud span.label,
.hud label {
  display:block;
  font-size:11px;
  text-transform:uppercase;
  font-weight:bold;
  }

.hud h1 {
  font-size:20px;
  letter-spacing:-1px;
  }

.hud h2 {
  margin:1em 0 0.5em;
  }

.hud h1,
.hud .description { margin:10px 0px; }

.hud h1,
.hud label { color:#fff; }

/**
 * Download link ==============================================================
 */
a.download {
  display:block;
  background:url(../images/mask25.png);
  padding:10px;
  margin:0px -10px;
  word-break:break-all;
  text-align:center;
  }

a.download * { display:block; }

a.download .icon {
  margin:0px auto;
  width:100px;
  height:100px;
  background:url(../images/sprite.png) 0px -20px no-repeat;
  }

a.download .file { font-weight:bold; }
a.download .size { color:#999; }

/**
 * Form elements ==============================================================
 */
select,
input[type=text],
input[type=password] {
  line-height:20px;
  height:20px;
  width:100%;
  padding:0px 5px;

  color:#fff;
  background:url(../images/mask25.png);

  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  }

input[type=submit],
input[type=button] {
  font-size:11px;
  font-weight:bold;
  text-transform:uppercase;
  text-shadow:#000 0px 1px 1px;

  padding:0px 10px;
  background:#444;
  color:#eee;

  cursor:pointer;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  }

form select,
form input { margin:0px 0px 10px; }

  label.inline {
    display:inline;
    padding:0 5px;
    }

  div.edit input[type='text'] {
    border:1px solid #aaa;
    }

  div.size input[type='text'] {
    width:50px;
    text-align:center;
    }

/**
 * ErrorView ==================================================================
 */
.error {
  position:absolute;
  top:60px;
  right:0px;
  bottom:0px;
  left:20px;
  }

.error .message {
  position:absolute
  left:0px;
  top:0px;
  width:240px;
  height:240px;
  line-height:240px;

  white-space:nowrap;
  overflow:hidden;
  text-align:center;

  font-size:20px;
  background:url(../images/mask25.png);
  }

/**
 * Map controls ===============================================================
 * Override styles for map controls within the context of the TileStream UI.
 */
.wax-tooltip,
.wax-legends {
  transition:right .25s;
  -moz-transition:right .25s;
  -webkit-transition:right .25s;
  }

.wax-tooltip,
.wax-legends { right:20px; }

.wax-tooltip { top:60px; }
.wax-legends { bottom:20px; }

.hudActive .wax-legends,
.hudActive .wax-tooltip { right:300px; }
