.wax-legend,
.wax-tooltip {
  font:normal 13px/20px Arial,sans-serif;
  color:#222;
  min-width:180px;
  max-width:280px;
  padding:9px 14px;
  border:1px solid #ccc;
  background:transparent url(../images/mask.png) repeat;
  box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
  -moz-box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
  -webkit-box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
  }

.wax-legends,
.wax-tooltip {
  position:absolute;
  right:10px;
  z-index:999999;
  }

.wax-tooltip { top:10px; }
.wax-legends { bottom:10px; }

.wax-tooltip .close {
  display:block;
  position:absolute;
  top:5px;
  right:5px;
  width:20px;
  height:20px;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/controls.png) 0px 0px no-repeat;
  }

