<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title>TileStream</title>
    <script type='text/javascript'>
    // Redirect requests without the hash.
    (location.href.indexOf('#') === -1) && (window.location = '/#' + window.location.pathname);
    </script>

    <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon' />
    <link rel='stylesheet' href='/vendor.css' type='text/css'/>
    <link rel='stylesheet' href='/css/reset.css' type='text/css'/>
    <link rel='stylesheet' href='/css/style.css' type='text/css'/>
    <script type='text/javascript' src='/vendor.js'></script>
    <script type='text/javascript' src='/bones-templates.js'></script>
    <script type='text/javascript' src='/settings.js'></script>
  </head>
  <body>
    <div id='app'>{{{content}}}</div>
  </body>
</html>
